footer{
    background-color: $dark-grey;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    h4{
        width: 100%;
    }
    ul{
        margin-top: 20px;
        list-style-type: none;
        li{
            line-height: 25px;
            a{
                color: white;
                display:flex;
                align-items: center;
                transition: all .4s;
                i{
                    width: 20px;
                    font-size: 12px;
                }
            &:hover{
                color: $colour-tertiary;
            }
            }
        }
    }

}