header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    img{
        margin: 0 auto;
    }
    a{
        i{
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
    }
}
