header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    @media (min-width:992px) {
        max-width: 1400px;
        margin: 0 auto;
      }
    img{
        margin: 0 auto;
    }
    a{
        i{
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
    }
}
