.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        @include bg-gradiant;
        color: white;
        padding: 15px 40px;
        border-radius: $radius;
        cursor: pointer;
    }
}