main {
  /* SECTION SEARCH */
  .search {
    @include bg-search;
    @include top-shadow;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 40px 0;
    color: $dark-grey;
    font-size: 1.20rem;
    form {
      margin-left: 50px;
      input {
        border: none;
        background: none;
        font-weight: bold;
        padding-left: 10px;
        color: $dark-grey;
        font-size: 1.15rem;
        outline: $bg-second;
        max-width: 185px;
        &::placeholder {
          font-weight: bold;
        }
      }
    }
  }

  /* SECTION INTRO */
  .intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $bg-primary;
    padding: 50px 40px;
    h2 {
      font-weight: bold;
      padding: 0 60px;
      text-align: center;
    }
    p {
      padding: 25px 0;
      text-align: center;
    }
  }

  /* SECTION FONCTIONNEMENT */

  .fonctionnement {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    h2 {
      @media (min-width: 992px) {
        justify-content: center;
        display: flex;
      }
    }
    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 10%;
      padding-top: 10px;
      @media (min-width: 992px) {
        max-width: 1400px;
        margin: 0 auto;
      }
      article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 330px;
        background: $bg-primary;
        margin: 20px 0;
        padding: 30px;
        border-radius: $radius;
        @include art-shadow;
        transition: all 0.4s;
        cursor: pointer;
        position: relative;
        i {
          font-size: 1.5rem;
          color: $dark-grey;
        }
        p {
          font-size: 1.12rem;
        }
        &:hover {
          background: lighten($colour-primary, 30%);
          i {
            color: $colour-primary;
          }
        }
        &::before {
          content: "1";
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          bottom: 32%;
          left: -4%;
          padding: 5px 10px;
          background: $colour-primary;
          border-radius: $radius;
        }
        &:nth-of-type(2) {
          &::before {
            content: "2";
          }
        }
        &:nth-of-type(3) {
          &::before {
            content: "3";
          }
        }
      }
    }
  }

  /* SECTION RESTAURANT */

  .restau {
    padding: 50px 20px;
    background-color: $bg-primary;
    .restcards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 30px;
      @media (min-width: 992px) {
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
      }
      .r-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        @media (min-width: 992px) {
          width: 48%;
        }
        transition: 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
        &::before {
          content: "Nouveau";
          position: absolute;
          padding: 10px 15px;
          color: darken($colour-tertiary, 40%);
          background-color: $colour-tertiary;
          font-weight: bold;
          z-index: 2;
          top: 5%;
          right: 5%;
        }
        margin: 0.5rem 0;
        @media (min-width: 768px) {
          margin: 1.5rem 0;
        }
        a {
          img {
            width: 100%;
            object-fit: cover;
            border-radius: $radius-img;
            height: 175px;
            @media (min-width: 768px) {
              height: 300px;
            }
          }
        }
        .legend {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          background-color: white;
          border-radius: $radius-txt;
          @include art-shadow;
          .text {
            color: black;
            line-height: 1.5rem;
          }
          .hearth {
            @include gradiant-hearth;
          }
        }
      }
    }
  }
}
