.bg {
  img {
    height: 265px;
    object-fit: cover;
    width: 100%;
    z-index: -1;
  }
}

main {
  /* BG IMAGE */
  background: $bg-primary;
  position: relative;
  
  .restaurant {
    background: $bg-primary;
    @media (min-width:992px) {
      max-width: 1400px;
      margin: 0 auto;
    }
    // @media (min-width: 768px){
    //   padding: 20px;
    // }
    /* TITLE */
    .title {
      border-radius: 50px 50px 0;
      top: -35px;
      left: 0;
      background: $bg-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: absolute;
      padding: 20px;
      @media (min-width:992px){
        position: inherit;
      }
      i {
        font-size: 1.6rem;
      }
    }
    
    /* MENU */
    
    .menu {
      padding: 30px 15px;
      .food {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0;
        h2 {
          font-weight: 300;
          position: relative;
          margin-bottom: 20px;
          &::after {
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            width: 45px;
            height: 3px;
            background-color: $colour-tertiary;
          }
        }

        article {
          display: flex;
          flex-wrap: wrap;
          background-color: white;
          margin: 10px 0;
          border-radius: 20px;
          width: 100%;
          @include art-shadow;
          transition: all 0.4s;
          position: relative;
          @media  (min-width:992px) {
            width: 48%;
          }
          &:hover .check{
            transform: translate(0);
            width: 100%;
          }

          .detail {
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .txt {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding-top: 5px;
            }
          }
          .check {
            position: absolute;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $colour-tertiary;
            color: white;
            font-size: 1.3rem;
            border-radius: 0 15px 15px 0;
            max-width: 60px;
            cursor: pointer;
            transform: translate(80px);
            overflow: hidden;
            visibility: hidden;
            z-index: 10;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
}
