.bg{
  img{
    height: 265px;
    object-fit: cover;
    width: 100%;
    z-index: -1;
  }
}

main{
  /* BG IMAGE */
  background: $bg-primary;
  position: relative;

  .restaurant {
    background: $bg-primary;
    @media (min-width: 992px) {
      max-width: 1400px;
      margin: 0 auto;
    }
    // @media (min-width: 768px){
    //   padding: 20px;
    // }
    /* TITLE */
    .title {
      border-radius: 50px 50px 0;
      top: -35px;
      left: 0;
      background: $bg-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: absolute;
      padding: 20px;
      .hearth {
        @include gradiant-hearth;
        margin: 15px;
      }
      @media (min-width: 992px) {
        position: inherit;
      }
    }

    /* MENU */

    .menu {
      padding: 30px 15px;
      .food {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0;
        h2 {
          font-weight: 300;
          position: relative;
          margin-bottom: 20px;
          &::after {
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            width: 45px;
            height: 3px;
            background-color: $colour-tertiary;
          }
        }

        article {
          display: flex;
          width: 100%;
          background-color: white;
          margin: 10px 0;
          border-radius: 20px;
          @include art-shadow;
          animation: fadeIn 2s both 0.8s;

          /*animation delay*/

          &:nth-of-type(1) {
            animation-delay: 0.5s;
          }
          &:nth-of-type(2) {
            animation-delay: 1s;
          }
          &:nth-of-type(3) {
            animation-delay: 1.5s;
          }
          &:nth-of-type(4) {
            animation-delay: 2s;
          }

          @media (min-width: 992px) {
            width: 48%;
          }

          /*hover*/

          &:hover .check {
            animation: slide-in 0.8s linear;
            span {
              transform: rotate(1turn);
            }
          }
          .detail {
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .txt {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding-top: 5px;
              :first-child {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .check {
            right: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $colour-tertiary;
            color: white;
            font-size: 1.3rem;
            border-radius: 0 15px 15px 0;
            width: 60px;
            height: 100%;
            cursor: pointer;
            overflow: hidden;
            z-index: 10;
            animation: slide-out 0.8s forwards;
            span {
              transform: rotate(0);
              transition: all 0.8s ease-in-out;
            }
          }
        }
      }
    }
  }
}
