main {
  /* BG IMAGE */
  background: $bg-primary;
  .bg {
    img {
      height: 265px;
      object-fit: cover;
      width: 100%;
      z-index: -1;
    }
  }

  .restaurant {
    background: $bg-primary;
    border-radius: 50px 50px 0;
    position: relative;
    top: -50px;
    padding: 30px 15px;
    /* TITLE */
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 26px;
      }
    }

    /* MENU */

    .menu {
      padding-top: 30px;
      .food {
        h2 {
          font-weight: 300;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            width: 45px;
            height: 3px;
            background-color: $colour-tertiary;
          }
        }

        article {
          display: flex;
          background-color: white;
          margin: 20px 0;
          border-radius: 20px;
          @include art-shadow;
          transition: all 0.4s;
          position: relative;
          &:hover .check{
            transform: translate(0);
            width: 100%;
          }

          .detail {
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .txt {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding-top: 5px;
            }
          }
          .check {
            position: absolute;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $colour-tertiary;
            color: white;
            font-size: 22px;
            border-radius: 0 15px 15px 0;
            max-width: 60px;
            cursor: pointer;
            transform: translate(80px);
            overflow: hidden;
            visibility: hidden;
            z-index: 10;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
}
