@mixin bg-gradiant {
    background: linear-gradient($colour-second, $colour-primary);
}

@mixin bg-search($colour:$bg-primary){
    background: darken($colour, 5%);
}

@mixin art-shadow($colour:$bg-primary, $size: $shadow-size){
    box-shadow: $size darken($colour, 10%);
}

@mixin top-shadow($colour: $bg-primary, $size: $top-shadow-size){
    box-shadow: $size darken($colour, 10%);
}