@mixin bg-gradiant {
    background: linear-gradient($colour-second, $colour-primary);
}

@mixin btn-hover {
    background: linear-gradient(lighten($colour-second,5%), lighten($colour-primary, 5%));  
}

@mixin gradiant-shadow ($colour:$colour-second, $size:$shadow-size){

} 

@mixin bg-search($colour:$bg-primary){
    background: darken($colour, 5%);
}

@mixin art-shadow($colour:$bg-primary, $size: $shadow-size){
    box-shadow: $size darken($colour, 10%);
}

@mixin top-shadow($colour: $bg-primary, $size: $top-shadow-size){
    box-shadow: $size darken($colour, 10%);
}