$colour-primary:#9356DC;
$colour-second:#FF79DA;
$colour-tertiary:#99E2D0;


$bg-primary:#f6f6f6;
$bg-second:#eaeaea;
$dark-grey:#353535;

$radius: 25px;
$radius-img:25px 25px 0 0;
$radius-txt:0 0 25px 25px;

$shadows:#afaeae;
$shadow-size:0px 2px 4px 0px;
$top-shadow-size: inset 0 5px 10px; 