$colour-primary:#9356DC;
$color-primary-light:#9370DC;
$colour-second:#FF79DA;
$color-secondary-light:#F780DC;
$colour-tertiary:#99E2D0;
$darken-tertiary:#006633;


$bg-primary:#f6f6f6;
$bg-second:#eaeaea;
$bg-footer:#353535;
$shadows-color:#afaeae;